  body {
    background-color: white;
    color: black;
    padding: 10px;
    margin: auto;
    font-family: sans-serif;
    width: 1000px;
    max-width: 100%;
  }

  body img {
    max-width: 100%;
  }

.container-lg px-3 my-5 markdown-body {
      max-width: 100%;
}
